version: '3.8'

services:
  postgres:
    image: postgres:14.19-alpine3.22
    container_name: pg_typeorm
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '${POSTGRES_PORT}:5432'
    volumes:
      - ./data:/var/lib/postgresql/data
    command:
      - 'postgres'
      - '-c'
      - 'log_statement=all'
    networks:
      - postgres-net

networks:
  postgres-net:
    driver: bridge
